@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 11.1% 3.53%;
    --border: 210 11.1% 3.53%;
    --secondary: #f5e0f4c4;
  }

  .dark {
    --background: 210 11.1% 3.53%;
    --foreground: 0 0% 98%;
    --border: 0 0% 98%;
    --secondary: #1a1a1a;
  }
}

[data-theme='light'] {
  :root {
    --foreground: #000000;
    --background-color: #ffffff;
    --primary-color: #B913FF; /* canlı mor */
    --secondary-color: #FF00E5; /* neon pembe */
  }
}

[data-theme='dark'] {
  :root {
    --foreground: #ffffff;
    --background-color: #000000;
    --primary-color: #B913FF; /* canlı mor */
    --secondary-color: #FF00E5; /* neon pembe */
  }
}

body {
  color: var(--foreground);
  background-color: var(--background-color);
  font-family: sans-serif;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #B913FF, #FF00E5) border-box;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

/* Fancy Gradient Text */
.fancy {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: linear-gradient(90deg, #B913FF, #FF00E5);
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
